body{
  background-color: #333;
  color: #fff;
}
.App {
  text-align: center;
}
.backupBg div {
  display: flex;
  align-items: center;
}

/*.backupNumber{
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: intial;
  justify-content: center;
}*/
.backupBg{
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.backupNumber .backupText{
  display: block;
  flex-direction: row;
  position: relative
  ;
}



.backupBg .iconsWrap{
  position: absolute;
  top:20%;
  transform: translate(-50%);
  right:15px;
  width: auto;
  display: inline-block;
}
.iconsWrap {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.buttonRestore{
  
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid green;
    border-radius: 8px;
    margin-left: 379px;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}